*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #f2f2f2;
}

/* TÃTULOS */
.titulos{
    padding: 0;
    margin: 0 auto;
    max-width: 100%;
    margin-top: 50px;
	margin-bottom: 20px;
}

.titulos h2,h3{
    text-align: center;
}

.titulos h2{
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
	color: #C0392B;
}

.titulos h3{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: #A4A4A4;
}

/* NOTICIAS */
.container-cards{
    height: 100%;
    display: grid;
    place-items: center center;
    font-family: 'Roboto',sans-serif;
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    padding: 20px;
    grid-gap: 40px;
}

.card{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.18);
}
.container{
    position: relative;
    clip-path: polygon(0 0,100% 0, 100% 85%, 0 100%);
    height: 300px;
    display: flex;
    justify-content: center;
}
img{
    width: 100%;
    display: block;
    border-radius: 20px 20px 0 0;
    height: auto;
    
}
.container:after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px 20px 0 0;
    opacity: 0.7;
}

.details{
    padding: 2% 4%;
}
.details>h3{
    color: #C0392B;
    font-weight: 600;
    font-size: 20px;
    margin: 10px 0 15px 0;
    
}
.details>p{
    color: #484848;
    font-size: 17px;
    line-height: 20px;
	padding-bottom: 10px;
    font-weight: 400;
	text-align: justify;
	text-justify: inter-word;
    margin-bottom: 15px;
}

.details>h3+p{
    margin-bottom: 10px;
}

.details a{
	color: #035db7;
}
.details a:hover{
	color: #3db4b8;
}