@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
	font-family: 'Roboto';
}

.logo-grande img{
	display: block;
	max-width: 100%;
	padding: 0;
	padding-left: 5%;
	padding-right: 5%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	margin-bottom: 50px;
}

/* TÃTULOS */
.titulos{
    padding: 0;
    margin: 0 auto;
    max-width: 100%;
    margin-top: 50px;
	margin-bottom: 20px;
}

.titulos h2,h3{
    text-align: center;
}

.titulos h2{
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
	color: #C0392B;
}

.titulos h3{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: #A4A4A4;
}

/* QUIENES SOMOS*/
.wrapper {
    padding: 0;
    margin: 0 auto;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 1rem;
}

.card {
    width: 100%;
    max-width: 22rem;
    min-height: 14rem;
    position: relative;
    background-color: #fff;
}

.card__title {
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin: 0.5rem 0;
    color:#34495E;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.card--stripe {
    border: 1px solid #eee;
    padding: 0.5rem 0.5rem 0.5rem 3rem;
    box-shadow: 1rem 0 1.5rem -1.5rem rgba(0, 0, 0, 0.2);
}

.card--stripe p{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.card--stripe:before {
    width: 2rem;
    height: 105%;
    position: absolute;
    content: "";
    background-image: linear-gradient(#34495E 5%, #C0392B 100%);
    left: 0.5rem;
    top: -2.5%;
}
.boton.dos{
	margin-left: auto;
	margin-right: auto;
	background-color: #C0392B;
	display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 50px;
    background: #C0392B;
    color: white;
    font-size: 17px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: .5s ease all;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    margin-top: 5%;
}
.boton.dos::after{
    content: "";
    width: 100%;
    height: 100%;
    background: #D5868E;
    position: absolute;
    z-index: 1;
    top: -80px;
    left: 0;
    transition: .3s ease-in-out all;
}

.boton.dos:hover::after{
    top: 0;
}
@media screen and (max-width:900px){
    .container{
        flex-wrap: wrap;
    }
}


/* CURSOS */

.contenedor{
    width: 100%;
    overflow: hidden;
}

.slider-contenedor{
    width: 100%;
    display: flex;
}

.contenido-slider{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
}

.contenido-slider div {
    background-color: #ffffff;
    opacity: 0.95;
    margin: 0 auto;
    padding: 3%;
}


.contenido-slider:nth-child(1){
    background: #489395;
    background-image: url(../img/python.jpeg);
    background-size: cover;
}

.contenido-slider:nth-child(2){
	background: #489395;
    background-image: url(../img/robotica.jpg);
    background-size: cover;
}

.contenido-slider:nth-child(3){
    background: #489395;
    background-image: url(../img/cad.png);
    background-size: cover;
}

.contenido-slider > img{
    width: 400px;
}

.contenido-slider > div{
    width: 50%;
}

.contenido-slider h2{
	font-size: 30px;
    margin-bottom: 5px;
	color: #34495E;
    text-align: left;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}

.contenido-slider h3{
    font-weight: 300;
    text-align: justify;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
    color: #444;
    font-size: 20px;
}

.contenido-slider .boton{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 50px;
    background: #141414;
    color: white;
    font-size: 17px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: .5s ease all;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    margin-top: 5%;
}

.boton a{
    text-decoration: none;
    color: white;
}

.boton span{
    position: relative;
    z-index: 2;
    transition: 0.5s ease all;
}

.boton.uno::after{
    content: "";
    width: 100%;
    height: 100%;
    background: #D5868E;
    position: absolute;
    z-index: 1;
    top: -80px;
    left: 0;
    transition: .3s ease-in-out all;
}

.boton.uno:hover::after{
    top: 0;
}

.boton.uno{
    background-color: #489395;
}


@media screen and (max-width:900px){
    .contenido-slider > img{
        width: 250px;
    }

    .contenido-slider > div{
        width: 40%;
    }

    .contenido-slider h2{
        font-size: 23px;
    }
}

@media screen and (max-width:600px){
    .contenido-slider{
        flex-direction: column-reverse;
    }

    .contenido-slider > div{
        width: 80%;
    }
}

/* NOTICIAS */
.blog-card {
	display: flex;
	flex-direction: column;
	margin: 1rem auto;
	box-shadow: 0 3px 7px -1px rgba(0, 0, 0, .1);
	margin-bottom: 1.6%;
	background: #fff;
	line-height: 1.4;
	font-family: sans-serif;
	border-radius: 5px;
	overflow: hidden;
	z-index: 0;
}
.blog-card a {
	color: inherit;
}
.blog-card a:hover {
	color: #C0392B;
}
.blog-card:hover .photo {
	transform: scale(1.3) rotate(3deg);
}
.blog-card .meta {
	position: relative;
	z-index: 0;
	height: 200px;
}
.blog-card .photo {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-size: cover;
	background-position: center;
	transition: transform 0.2s;
}
.blog-card .details, .blog-card .details ul {
	margin: auto;
	padding: 0;
	list-style: none;
}
.blog-card .details {
	position: absolute;
	top: 0;
	bottom: 0;
	left: -100%;
	margin: auto;
	transition: left 0.2s;
	background: rgba(0, 0, 0, .6);
	color: #fff;
	padding: 10px;
	width: 100%;
	font-size: 0.9rem;
}
.blog-card .details a {
	text-decoration: dotted underline;
}
.blog-card .details ul li {
	display: inline-block;
}
.blog-card .details .author:before {
	font-family: FontAwesome;
	margin-right: 10px;
	content: "\f007";
}
.blog-card .details .date:before {
	font-family: FontAwesome;
	margin-right: 10px;
	content: "\f133";
}
.blog-card .details .tags ul:before {
	font-family: FontAwesome;
	content: "\f02b";
	margin-right: 10px;
}
.blog-card .details .tags li {
	margin-right: 2px;
}
.blog-card .details .tags li:first-child {
	margin-left: -4px;
}
.blog-card .description {
	padding: 1rem;
	background: #fff;
	position: relative;
	z-index: 1;
}
.blog-card .description h1, .blog-card .description h2 {
	font-family: Poppins, sans-serif;
}
.blog-card .description h1 {
	line-height: 1;
	margin: 0;
	font-size: 1.7rem;
    color: #001E6C;
}

.blog-card .description .read-more {
	text-align: right;
}
.blog-card .description .read-more a {
	color: #C0392B;
	display: inline-block;
	position: relative;
}
.blog-card .description .read-more a:after {
	content: "\f061";
	font-family: FontAwesome;
	margin-left: -10px;
	opacity: 0;
	vertical-align: middle;
	transition: margin 0.3s, opacity 0.3s;
}
.blog-card .description .read-more a:hover:after {
	margin-left: 5px;
	opacity: 1;
}
.blog-card p {
	position: relative;
	margin: 1rem 0 0;
}
.blog-card p:first-of-type {
	margin-top: 1.25rem;
}
.blog-card p:first-of-type:before {
	content: "";
	position: absolute;
	height: 5px;
	background: #C0392B;
	width: 35px;
	top: -0.75rem;
	border-radius: 3px;
}
.blog-card:hover .details {
	left: 0%;
}
@media (min-width: 640px) {
	.blog-card {
		flex-direction: row;
		max-width: 1080px;
    }
	.blog-card .meta {
		flex-basis: 40%;
		height: auto;
    }
	.blog-card .description {
		flex-basis: 60%;
    }
	.blog-card .description:before {
		transform: skewX(-3deg);
		content: "";
		background: #fff;
		width: 30px;
		position: absolute;
		left: -10px;
		top: 0;
		bottom: 0;
		z-index: -1;
    }
	.blog-card.alt {
		flex-direction: row-reverse;
    }
	.blog-card.alt .description:before {
		left: inherit;
		right: -10px;
		transform: skew(3deg);
    }
	.blog-card.alt .details {
		padding-left: 25px;
    }
}

/* GALERIA */
.gal {
  max-width: 800px;
  margin: 5% auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.4);
}

.lightbox {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.lightbox-item {
	margin: 10px;
	-ms-flex-preferred-size: 180px;
	flex-basis: 180px;
}
.lightbox-item img {
	max-width: 100%;
	display: block;
}
@media only screen and (max-width: 480px) {
	.lightbox {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
	.lightbox-item {
		margin-bottom: 10px;
	}
}
.lightbox-popup {
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 20;
	padding-top: 30px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.lightbox-popup.is-shown {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.lightbox-popup-caption {
	line-height: 1.3;
	color: #fff;
}
.lightbox-popup-dialog {
	max-width: 400px;
	width: 100%;
	margin: auto;
}
.lightbox-popup img {
	width: 100%;
	display: block;
	margin: auto;
}
.lightbox-popup .caption {
	margin: 15px auto;
	width: 50%;
	text-align: center;
	font-size: 1em;
	line-height: 1.5;
	font-weight: 700;
	color: #eee;
}
